Dear Hijinx Customer,

Believe it or not, it's time for another great sale at Hijinx Willow Glen!  

On Saturday and Sunday October 1st and 2nd we're pulling out all stops to host the greatest sale in Hijinx history! How great?  Please check out all the gory details at our handy website: www.hijinxcomics.com 

Besides scads of savings on items inside and outside of the store, we'll have hourly raffles, trivia contests as well as a creator signing on Sunday.  You won't want to miss this one!

Thanks,

Dan Shahin
Hijinx Comics
