<html>
<head>
<title>ajax test</title>
<head>
<TMPL_INCLUDE NAME="javascript.tmpl.html">
<script language="JavaScript">

// thanks to the folks at SAJAX for the javascript functions
// http://www.modernmethod.com/sajax/
var rs_debug_mode	= false;

// debug function
function rs_debug(text) { if( rs_debug_mode ) { alert("RSD: " + text); } }

// init function
function rs_init_object()
{
	rs_debug("rs_init_object() called..");

	var A;
	try	{ A = new ActiveXObject("Msxml2.XMLHTTP"); }
	catch( e )
	{
		try			{ A = new ActiveXObject("Microsoft.XMLHTTP"); }
		catch( oc )	{ A = null; }
	}

	if( !A && typeof XMLHttpRequest != "undefined" )	{ A = new XMLHttpRequest(); }
	if( !A )											{ rs_debug( "Could not create connection object." ); }

	return A;
}


// wrapper for rs_run
function rs_run()
{
	// count args; build URL
	var i, x, a;
	a		= rs_run.arguments;
	var url	= a[0];
	for( i = 2; i < a.length; i++ ) { url = url + "&rsargs=" + escape( a[i] ); }

	// load object
	x = rs_init_object();
	x.open("GET", url, true);
	x.onreadystatechange = function()
	{
		if( x.readyState != 4 ) { return; }

		rs_debug( "received " + x.responseText );

		var status	= x.responseText.charAt(0);
		var data	= x.responseText.substring(2);

		if( status == "-" ) { alert("Error: " + data ); }
		else    			{ a[1]( data ); }
	}

	x.send( null );
	rs_debug( "rs_run url = " + url );
	rs_debug( "rs_run waiting.." );
}
function calc_callback( z )
{
	document.getElementById("z").value = z;
}

function do_multiply()
{
    var x = document.getElementById("x").value;
    var y = document.getElementById("y").value;
    
    rs_run( "?rm=multiply", calc_callback, x, y );
}

function do_divide()
{
    var x = document.getElementById("x").value;
    var y = document.getElementById("y").value;
    
    rs_run( "?rm=divide", calc_callback, x, y );
}
</script>
</head>
<TMPL_INCLUDE NAME="body.tmpl.html">
<TMPL_INCLUDE NAME="toolbar.tmpl.html">
<p>
	Number 1: <input type="text" name="x"	id="x"	value="2"	size="3"><br>
	Number 2: <input type="text" name="y"	id="y"	value="3"	size="3"><br><br>

	= <input type="text" name="z"	id="z"	value=""	size="12"><br><br>
	
	<input type="button" name="check" value="Multiply"	onclick="do_multiply();	return false;">
	<input type="button" name="check" value="Divide"	onclick="do_divide();	return false;">
	
	
	<br><br>



</body>
</html>
