<div>
<a href="?rm=list_titles&letter=%">ALL</a> |
<a href="?rm=list_titles&letter=a">A</a> |
<a href="?rm=list_titles&letter=b">B</a> |
<a href="?rm=list_titles&letter=c">C</a> |
<a href="?rm=list_titles&letter=d">D</a> |
<a href="?rm=list_titles&letter=e">E</a> |
<a href="?rm=list_titles&letter=f">F</a> |
<a href="?rm=list_titles&letter=g">G</a> |
<a href="?rm=list_titles&letter=h">H</a> |
<a href="?rm=list_titles&letter=i">I</a> |
<a href="?rm=list_titles&letter=j">J</a> |
<a href="?rm=list_titles&letter=k">K</a> |
<a href="?rm=list_titles&letter=l">L</a> |
<a href="?rm=list_titles&letter=m">M</a> |
<a href="?rm=list_titles&letter=n">N</a> |
<a href="?rm=list_titles&letter=o">O</a> |
<a href="?rm=list_titles&letter=p">P</a> |
<a href="?rm=list_titles&letter=q">Q</a> |
<a href="?rm=list_titles&letter=r">R</a> <br>
<a href="?rm=list_titles&letter=s">S</a> |
<a href="?rm=list_titles&letter=t">T</a> |
<a href="?rm=list_titles&letter=u">U</a> |
<a href="?rm=list_titles&letter=v">V</a> |
<a href="?rm=list_titles&letter=w">W</a> |
<a href="?rm=list_titles&letter=x">X</a> |
<a href="?rm=list_titles&letter=y">Y</a> |
<a href="?rm=list_titles&letter=z">Z</a> |
<a href="?rm=list_titles&letter=0">0</a> |
<a href="?rm=list_titles&letter=1">1</a> |
<a href="?rm=list_titles&letter=2">2</a> |
<a href="?rm=list_titles&letter=3">3</a> |
<a href="?rm=list_titles&letter=5">5</a> |
<a href="?rm=list_titles&letter=6">6</a> |
<a href="?rm=list_titles&letter=7">7</a> |
<a href="?rm=list_titles&letter=8">8</a> |
<a href="?rm=list_titles&letter=9">9</a> |
<a href="?rm=list_titles&letter=*">*</a> 
<p>
<form action="" method=GET name=search>
<input type=hidden name=rm value=list_titles>
<input type=text name=letter>
<input type=submit value="search all">
</form>
<script language="JavaScript"> document.search.letter.focus(); </script>
</div>
