<div>
<a href="?rm=list_titles&show=archives&show=archives&letter=a">A</a> |
<a href="?rm=list_titles&show=archives&show=archives&letter=b">B</a> |
<a href="?rm=list_titles&show=archives&letter=c">C</a> |
<a href="?rm=list_titles&show=archives&letter=d">D</a> |
<a href="?rm=list_titles&show=archives&letter=e">E</a> |
<a href="?rm=list_titles&show=archives&letter=f">F</a> |
<a href="?rm=list_titles&show=archives&letter=g">G</a> |
<a href="?rm=list_titles&show=archives&letter=h">H</a> |
<a href="?rm=list_titles&show=archives&letter=i">I</a> |
<a href="?rm=list_titles&show=archives&letter=j">J</a> |
<a href="?rm=list_titles&show=archives&letter=k">K</a> |
<a href="?rm=list_titles&show=archives&letter=l">L</a> |
<a href="?rm=list_titles&show=archives&letter=m">M</a> |
<a href="?rm=list_titles&show=archives&letter=n">N</a> |
<a href="?rm=list_titles&show=archives&letter=o">O</a> |
<a href="?rm=list_titles&show=archives&letter=p">P</a> |
<a href="?rm=list_titles&show=archives&letter=q">Q</a> |
<a href="?rm=list_titles&show=archives&letter=r">R</a> <br>
<a href="?rm=list_titles&show=archives&letter=s">S</a> |
<a href="?rm=list_titles&show=archives&letter=t">T</a> |
<a href="?rm=list_titles&show=archives&letter=u">U</a> |
<a href="?rm=list_titles&show=archives&letter=v">V</a> |
<a href="?rm=list_titles&show=archives&letter=w">W</a> |
<a href="?rm=list_titles&show=archives&letter=x">X</a> |
<a href="?rm=list_titles&show=archives&letter=y">Y</a> |
<a href="?rm=list_titles&show=archives&letter=z">Z</a> |
<a href="?rm=list_titles&show=archives&letter=0">0</a> |
<a href="?rm=list_titles&show=archives&letter=1">1</a> |
<a href="?rm=list_titles&show=archives&letter=2">2</a> |
<a href="?rm=list_titles&show=archives&letter=3">3</a> |
<a href="?rm=list_titles&show=archives&letter=5">5</a> |
<a href="?rm=list_titles&show=archives&letter=6">6</a> |
<a href="?rm=list_titles&show=archives&letter=7">7</a> |
<a href="?rm=list_titles&show=archives&letter=8">8</a> |
<a href="?rm=list_titles&show=archives&letter=9">9</a> |
<a href="?rm=list_titles&show=archives&letter=*">*</a> 
<p>
<form action="" method=GET>
<input type=hidden name=rm value=list_titles>
<input type=hidden name=show value=archives>
<input type=text name=letter>
<input type=submit value="search all">
</form>
</div>
