hijinx_id	dcd	title	price	isbn	upc	min	in_stock	on_order	info
<TMPL_LOOP NAME=BOOKS><TMPL_VAR NAME=id>	<TMPL_VAR NAME=dcd>	<TMPL_VAR NAME=title>	<TMPL_VAR NAME=price>	<TMPL_VAR NAME=isbn>	<TMPL_VAR NAME=upc>	<TMPL_VAR NAME=min>	<TMPL_VAR NAME=in_stock>	<TMPL_VAR NAME=on_order>	<TMPL_VAR NAME=info>
</TMPL_LOOP>
