<div>
<a href="?rm=list_customers&show=frozen&letter=%">ALL</a> | 
<a href="?rm=list_customers&show=frozen&letter=a">A</a> |
<a href="?rm=list_customers&show=frozen&letter=b">B</a> |
<a href="?rm=list_customers&show=frozen&letter=c">C</a> |
<a href="?rm=list_customers&show=frozen&letter=d">D</a> |
<a href="?rm=list_customers&show=frozen&letter=e">E</a> |
<a href="?rm=list_customers&show=frozen&letter=f">F</a> |
<a href="?rm=list_customers&show=frozen&letter=g">G</a> |
<a href="?rm=list_customers&show=frozen&letter=h">H</a> |
<a href="?rm=list_customers&show=frozen&letter=i">I</a> |
<a href="?rm=list_customers&show=frozen&letter=j">J</a> |
<a href="?rm=list_customers&show=frozen&letter=k">K</a> |
<a href="?rm=list_customers&show=frozen&letter=l">L</a> |
<a href="?rm=list_customers&show=frozen&letter=m">M</a> |
<a href="?rm=list_customers&show=frozen&letter=n">N</a> |
<a href="?rm=list_customers&show=frozen&letter=o">O</a> |
<a href="?rm=list_customers&show=frozen&letter=p">P</a> |
<a href="?rm=list_customers&show=frozen&letter=q">Q</a> |
<a href="?rm=list_customers&show=frozen&letter=r">R</a> | 
<a href="?rm=list_customers&show=frozen&letter=s">S</a> |
<a href="?rm=list_customers&show=frozen&letter=t">T</a> |
<a href="?rm=list_customers&show=frozen&letter=u">U</a> |
<a href="?rm=list_customers&show=frozen&letter=v">V</a> |
<a href="?rm=list_customers&show=frozen&letter=w">W</a> |
<a href="?rm=list_customers&show=frozen&letter=x">X</a> |
<a href="?rm=list_customers&show=frozen&letter=y">Y</a> |
<a href="?rm=list_customers&show=frozen&letter=z">Z</a> 
<p>
<form action="" method=GET name=search>
<input type=hidden name=rm value=list_customers>
<input type=hidden name=show value=frozen>
<input type=text name=letter>
<input type=submit value="search frozen subscribers">
<script language="JavaScript"> document.search.letter.focus(); </script>
</form>
</div>
