<div>
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=%">ALL</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=a">A</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=b">B</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=c">C</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=d">D</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=e">E</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=f">F</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=g">G</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=h">H</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=i">I</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=j">J</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=k">K</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=l">L</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=m">M</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=n">N</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=o">O</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=p">P</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=q">Q</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=r">R</a> <br>
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=s">S</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=t">T</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=u">U</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=v">V</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=w">W</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=x">X</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=y">Y</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=z">Z</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=0">0</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=1">1</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=2">2</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=3">3</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=5">5</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=6">6</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=7">7</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=8">8</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=9">9</a> |
<a href="?rm=edit_subscriptions&id=<TMPL_VAR NAME=id>&letter=*">*</a> 
<p>
<form action="" method=GET name=search>
<input type=hidden name=id value=<TMPL_VAR NAME=id>>
<input type=hidden name=rm value=edit_subscriptions>
<input type=text name=letter>
<input type=submit value="search all">
<script language="JavaScript"> document.search.letter.focus(); </script>
</form>
</div>
