
	<div >


                       <div id="productsandservices" class="yuimenubar">
                            <div class="bd">
                                <ul class="first-of-type">

                                    <li class="yuimenubaritem first-of-type">Customers
                
                                        <div id="communication" class="yuimenu">
                                            <div class="bd">
                                                <ul>
                                                    <li class="yuimenuitem"><a href="?rm=book_club">Book Club</a></li>
                                                    <li class="yuimenuitem"><a href="?rm=list_customers">Comic Subscribers</a></li>
                                                    <li class="yuimenuitem">reports
                                                        <div id="pim" class="yuimenu">
                                                            <div class="bd">
                                                                <ul class="first-of-type">
                                                                    <li class="yuimenuitem"><a href="?rm=graphs">Zip Code Graphs</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=changes">Subscription Changes</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=subs">complete sub list</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=cust_csv">subscribers.csv</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=bc_csv">book_club.csv</a></li>
                                                                </ul>            
                                                            </div>
                                                        </div>                    
                                                    
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>      
                                    
                                    </li>
                                    <li class="yuimenubaritem">Products
                
                                        <div id="shopping" class="yuimenu">

                                            <div class="bd">                    
                                                <ul>
                                                    <li class="yuimenuitem"><a href="?rm=books">Book Search</a></li>
                                                    <li class="yuimenuitem"><a href="?rm=list_titles">Comic Books</a></li>
                                                    <li class="yuimenuitem"><a href="?rm=tag_info&type=book">Book Tags</a></li>
                                    		    <li class="yuimenubaritem"><a href=?rm=this_week>This Week's Comics</a></li>
                                                </ul>

                                            </div>
                                        </div>                    
                                    
                                    </li>
                                    <li class="yuimenubaritem">Orders
                
                                        <div id="entertainment" class="yuimenu">
                                            <div class="bd">                    
                                                <ul>
                                                    <li class="yuimenuitem"><a href="?rm=orders">Order and Invoice Manager</a></li>
                                                    <li class="yuimenuitem">reports
                                                    
                                                        <div id="pim2" class="yuimenu">
                                                            <div class="bd">
                                                                <ul class="first-of-type">
                                                                    <li class="yuimenuitem"><a href="?rm=book_reorders">Suggested Book Reorders</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=stats">Popular comics</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=top_gns">Bestselling Books</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=report&type=3plus">GN 3 plus report</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=report&type=doublestk">GN Double Min report </a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=report&type=booklist">All In Stock Books</a></li>
                                                                    <li class="yuimenuitem"><a href="?rm=oic">OIC tool</a></li>
                                                                </ul>            
                                                            </div>
							</div>
							</li>

                                                </ul>                    
                                            </div>
                                        </div>                                        
                                    
                                    </li>
                                    <li class="yuimenubaritem"><a href=?rm=today>Today</a></li>
                                    <li class="yuimenubaritem"><a href=?rm=logout>Logout</a></li>
                                </ul>            
                            </div>
	</div>
<div  id="session"   style="display: none; " >
name:<TMPL_VAR NAME=hijinx_name>
store:<TMPL_VAR NAME=store_name>
long store name:<TMPL_VAR NAME=longstorename>
hid:<TMPL_VAR NAME=hid>
logged:<TMPL_VAR NAME=~logged-in> 
perm:<TMPL_VAR NAME=perm_level> 
sid:<TMPL_VAR NAME=_session_id>
atime:<TMPL_VAR NAME=_session_atime>
ctime:<TMPL_VAR NAME=_session_ctime>
<TMPL_VAR NAME=_session_expire_list>
ip:<TMPL_VAR NAME=_session_remote_addr> 
default_credit:<TMPL_VAR NAME=default_credit> 
</div>
