<!--img src='/images/glossyhijinx.png'><br -->
<table bgcolor=black><tr><td>
<table cellpadding=4><tr><td bgcolor=white>
<a href=?rm=drawers>drawers</a> |
<a href=?rm=cash_reports>reports</a> | 
<!--[F5] <a href=?rm=last_week>last week</a> | -->
<!-- <a href=?rm=subs>subscriptions</a> | -->
<!-- [F8] <a href=?rm=wishlists>notes</a> | -->
<!-- [F10] <a href=/cgi-bin/books/books.pl>books</a>  -->
<!-- <a href=?rm=star_search>search</a> -->
<!-- <a href=/handbook/>handbook</a> | 
<a href=?rm=logout>logout</a> -->
</td></tr>
</table>
</td></tr>
</table>
<!--
<br>
<table bgcolor=black><tr><td>
<table cellpadding=4><tr><td bgcolor=white>

<a href=https://retailer.diamondcomics.com/main/current_invoice.asp>invoices</a> |
<a href=https://retailer.diamondcomics.com/main/reorders.asp>reorders</a> |
<a href=http://www.coldcut.com/cgi-bin/coldcut.cgi>cold cut</a> |

</td></tr>
</table>
</td></tr>
</table>
-->
